.summary {
    color: #808080;
    border-left: 5px solid #F80000;
    font-size:16px;
}

h3 {color: #000000; }
h4 {color: #000000; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2; /* not sure what used for */
    color: white;
}

.nav > li.active > a {
    background-color: #F80000;
}

.nav > li > a:hover {
    background-color: #F80000;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #F80000;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2; /* not sure what used for */
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #F5F5F5;
    border-color: #D9D9D9;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #8D8D8D;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #8D8D8D;
    color: #FFFFFF;
}

/* used when screen is very small like on smartphone */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #D9D9D9 !important;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #347DBE;
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #F5F5F5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2; /* not sure what used for */
    border-color: #347DBE; /* not sure what used for */
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b; /* not sure what used for */
}

div.sidebarTitle {
    color: #015CAE; /* not sure what used for */
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #F80000;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-brand {
    color: #F80000;
}
.navbar-inverse .navbar-brand {
    color: #666666;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #464646;
}
.navbar-inverse .navbar-nav > li > a {
    color: #666666;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #464646;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #464646;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #464646;
    border-bottom-color: #464646;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #666666;
    border-bottom-color: #666666;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
