<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="pgql"
            description="GMQL"
            language="GMQL"
            derivedFrom="DynamicRoot"
            validator="oracle.pgql.lang.PGQLValidator"
            validatorClass="oracle.pgql.lang.PGQLValidator"
      ></language>
   </extension>
   <extension
         id="oracle.pgql.lang.parser"
         name="GMQL Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="oracle.pgql.lang.PGQLParseController"
            language="GMQL">
      </parser>
   </extension>    
</plugin>
