<head>
<meta charset="utf-8">

{% include seo.html %}

<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} ATOM Feed">
<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="{{ site.title }} RSS Feed">

{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include JB/setup %}
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/themes/bootstrap/resources/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/themes/bootstrap/css/style.css">

<!-- ASSET_PATH is {{ ASSET_PATH }}
base_path is {{ BASE_PATH }}
-->

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<meta http-equiv="cleartype" content="on">

{% include head/custom.html %}
</head>
