{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}

{% elsif page.sidebar == "spec_1_0_sidebar" %}
{% assign sidebar = site.data.sidebars.spec_1_0_sidebar.entries %}

{% elsif page.sidebar == "spec_1_1_sidebar" %}
{% assign sidebar = site.data.sidebars.spec_1_1_sidebar.entries %}

{% elsif page.sidebar == "spec_1_2_sidebar" %}
{% assign sidebar = site.data.sidebars.spec_1_2_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "mydoc" %}
{% assign sidebar_pdf = site.data.sidebars.mydoc_sidebar.entries %}
{% endif %}

{% if site.product == "product1" %}
{% assign sidebar_pdf = site.data.sidebars.product1_sidebar.entries %}
{% endif %}

{% if site.product == "product2" %}
{% assign sidebar_pdf = site.data.sidebars.product2_sidebar.entries %}
{% endif %}
