<!DOCTYPE html>
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function(){

            $('table.datatable').DataTable( {
                        paging: false,
                        stateSave: true
                    }
            );
    </script>
    {% endif %}

</head>
<body>
{% include topnav.html %}


{% if page.url contains 'index.html' %}
<div class="row">
<div class="pgql-jumbotron"
  style=" background-image: linear-gradient(rgba(190, 0, 0, 0.85), rgba(190, 0, 0, 0.65)), url('images/graph.png');background-size: contain;"
>
    <div class="container">
      <h1 class="page__title" itemprop="headline" style="color:white;font-size: 50px;">
           PGQL · Property Graph Query Language
      </h1>
        <p class="page__lead" style="color:white;"><em>An SQL-like query language for graphs</em>
</p>
        <p><a href="http://www.oracle.com/technetwork/oracle-labs/parallel-graph-analytics/overview/index.html" class="pull-right btn btn-warning btn-lg">Try It</a></p>
    </div>
</div>
</div>
{% endif %}


<!-- Page Content -->
<div class="container">
  <div class="col-lg-12">&nbsp;</div>

    {% if page.url contains 'index.html' %}
      <!-- don't show the sidebar --!>
    {% else %}

      <!-- Content Row -->
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">

          {% include sidebar.html %}
    {% endif %}
    <!-- Content Column -->

    {% if page.url contains 'index.html' %}
    <div style="margin-top:-80px;"> <!-- make it span over the entire page and don't put too much white space on top -->
    {% else %}
    <div class="col-md-9">
    {% endif %}
        {{content}}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
    </div>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
